1 VERSIONINFO
FILEVERSION     @FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_MAJOR@,@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_MINOR@,@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_MAJOR@,@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_MINOR@,@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@FOOTPAL_PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@FOOTPAL_RESTFUL_PROJECT_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION@"
            VALUE "InternalName", "@FOOTPAL_RESTFUL_PROJECT_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@FOOTPAL_PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@FOOTPAL_RESTFUL_PROJECT_BIN_NAME@.exe"
            VALUE "ProductName", "@FOOTPAL_RESTFUL_PROJECT_PRODUCT_NAME@"
            VALUE "ProductVersion", "@FOOTPAL_RESTFUL_PROJECT_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"
